* {
     -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
     padding: 0;
     margin: 0;
     overflow: hidden;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 body {
     -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
     -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
     -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
     background-color:rgb(212, 212, 212);
     /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%); */
     height:100vh;
     margin:0px;
     padding:0px;
     /* Padding to avoid the "unsafe" areas behind notches in the screen */
     padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
     /* text-transform:uppercase; */
     width:100%;
 }
 
 html {
     position: relative;
 }
 

.navbar {
     background: rgb(179, 0, 110);
     height: 8%;
     display: flex;
     align-items: center;
}

svg {
     width: 30px;
     height: 30px;
     padding: 0px 15px;
}
 
svg line {
     stroke: rgb(221, 218, 218);
}

#sidenav {
     position: absolute;
     top: 8.2%;
     width: 50%;
     left:0;
     height: 100vh;
     z-index: 99;
     font-size: 18px;
     background: rgb(179, 0, 110);
     display: none;
}
 
 #sidenav .img {
     width: 100%;
     height: 30vh;
     position: relative;
     border-bottom: solid rgb(233, 233, 233) 1px;
 }
 
 #sidenav a {
     color: gainsboro; 
     text-decoration: none;  
 }
 
 .img img {
     width: 130px;
     border-radius: 100%;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }
 
 #sidenav li {
     padding: 10px 10px;
     border-bottom: solid 1px gainsboro;
 }
 
 #sidenav a:hover {
     text-decoration: none;
     color: black;
 }
 
 .footer {
     position: absolute;
     bottom: 8%;
     left: 10px;
 }

.image {
     /* border: solid red 2px; */
     width: 100%;
     height: 50%;
     top: .5%;
     position: relative;
     background: rgb(179, 0, 110);
}

.image img {
     position: absolute;
     width: 250px;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     border-radius: 100%;
}

.information {
     padding: 10px 10px;
}

.information p {
     padding: 10px 0px;
}

#profile_update {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}